

html {
  background: #FFF;
  color: $color-black;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  font-feature-settings: "palt";
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #000;
  text-decoration: none;
}

ul, li, ol, dl{
  list-style-type: none;
}

svg {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;

  &:not(:root) {
    overflow: hidden;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

video {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none;
  }
}

input, textarea {
  background: #FFF;
  vertical-align: bottom;

  &::placeholder {
    color: #bebebe;
  }
}